<div style="text-align: center;">
    <h3>Chairs Instituted by the University </h3>
</div>

<div style="max-height: 200px; overflow-y: auto;">
    <form class="form" [formGroup]="chairForm">
        <div formArrayName="chairs" style="padding: 10px;">
            <div *ngFor="let chair of chairs?.controls; let i = index" [formGroupName]="i" class="replica-group details-group">
                <h4 >Type {{ i + 1 }}</h4>
                <div>
                    <div class="delete-btn" (click)="removeChair(i)">
                        <i class="fas fa-trash"></i> 
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="departmentName">Department Name</label>
                    <input id="departmentName" type="text" formControlName="departmentName" placeholder="Enter department name">
                </div>

                <div class="form-group">
                    <label for="name">Name of the chair</label>
                    <input id="name" type="text" formControlName="name" placeholder="Enter name">
                </div>

                <div class="form-group">
                    <label for="sponsorName">Sponsor Name</label>
                    <input id="sponsorName" type="text" formControlName="sponsorName" placeholder="Enter sponsor name">
                </div>
            </div>
        </div>
        <div class="add-button" style="margin-top:-30px">
            <button type="button" (click)="addChair()">Add +</button>
        </div>
    </form>
</div>

<hr style="margin-top: 20px; margin-bottom: 10px;">

<div style="text-align: center;">
    <h3>Enter Details of UGC Human Resource Development Centre, If applicable</h3>
</div>
<div style="max-height: 200px; overflow-y: auto;  padding: 10px;">
    <form class="form details-group replica-group" [formGroup]="devlopmentCentreForm">
        <div class="form-group">
            <label for="hrdcEstablishmentDate">Establishment Date</label>
            <input type="date" id="hrdcEstablishmentDate" formControlName="hrdcEstablishmentDate">
        </div>

        <div class="form-group">
            <label for="hrdcOrientationProgramCount">Number of Orientation Programmes</label>
            <input type="number" id="hrdcOrientationProgramCount" formControlName="hrdcOrientationProgramCount" placeholder="Numeric field data">
        </div>

        <div class="form-group">
            <label for="hrdcRefresherCourseCount">Number of Refresher Courses</label>
            <input type="number" id="hrdcRefresherCourseCount" formControlName="hrdcRefresherCourseCount" placeholder="Numeric field data">
        </div>

        <div class="form-group">
            <label for="hrdcOwnProgramCount">Number of Own Programmes</label>
            <input type="number" id="hrdcOwnProgramCount" formControlName="hrdcOwnProgramCount" placeholder="Numeric field data">
        </div>

        <div class="form-group">
            <label for="hrdctotalProgramCount">Total Programmes conducted in last 5 years</label>
            <input type="number" id="hrdctotalProgramCount" formControlName="hrdctotalProgramCount" placeholder="Numeric field data">
        </div>
    </form>
</div>